In [1]:
#1

In [2]:
import pandas as pd
data=[4,8,15,16,23,42]
pd.Series(data)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [3]:
#2

In [5]:
list=[1,2,3,4,5,6,7,8,9,10]
pd.Series(list)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

[2, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#3

In [7]:
#3

In [27]:
df={'Name': ['Alice', 'Bob', 'Claire'], 'Age': [25, 30, 27], 'Gender': ['Female', 'Male', 'Female']}
dataframe=pd.DataFrame(df)
print(dataframe.to_string(index=False))

  Name  Age Gender
 Alice   25 Female
   Bob   30   Male
Claire   27 Female

#4

Pandas DataFrame,  is a two-dimensional structure with columns and rows whose size can be changed. You can also think of it as a dictionary of Series objects. The data parameter can take any of the following data types: Dictionary (dict) of â€“ 1D ndarray, lists, or Series.

#5

a) The common functions used in pandas are drop(), append(), copy(). The example is below:

In [30]:
dataframe.drop("Gender",axis=1)

     Name  Age
0   Alice   25
1     Bob   30
2  Claire   27

#6

Series is mutable, DataFrame is mutable as well.

#7

In [32]:
lst2=[1,2,3,4,5,6,7,8,9,10]
lst1=[1,2,3,4,5,6,7,8,9,10]
pd.DataFrame(lst2,lst1)

     0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
10  10